body{
    background-color: #ccc;
    font-family: sans-serif;
}

#red{
    background-color: #cd0a0a;
    
}


#black{
    background-color: #000;
    color: #e9e9e9;
    font-size: 15px;
    position: sticky;
    top: 0; /* required */
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: central;
    text-align: center;
}

#white{
    background-color: white;
    color: black;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    line-height: 200px;
    text-align: center;
}

.info{
    font-size: 30px;
    margin: 20px 0 20px 0;
    text-align: center;
}

#blue{
    background-color: #007fff;
}

#bottom-box{
    margin-top: 2000px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

#yellow{
    background-color: #fbcb09;
}

.column-child{
    width: 100px;
    height: 100px;
    margin: 10px;
}

#column {
   display: flex;
   flex-direction: column;
   /*justify-content: center;*/
   align-items: center;
}

#pink{
    background-color: #FF5E99;
}

#orange{
    background-color: #eb8f00;
}

#green{
    background-color: darkgreen;
}

.row-child{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.row-child, .column-child{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 100px;
}

#row {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /*align-items: center;*/
}


